/* inject tailwindcss into .css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html,
body {
  margin: 0;
}

body {
  font-family: 'RalewayModified', serif;
  font-size: 1em;
  line-height: 1.3;
  color: black;
  margin: 0;
}

h1 {
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.41px;
}

h2 {
  font-family: 'Lato', fantasy;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.38px;
}

h3 {
  font-family: 'Lato', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.44px;
}

.caption {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.08px;
}

.callout {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.23px;
}

.label {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height, or 130% */

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.08px;

  /* Greyscale / L28 */
  color: #6b6c7e;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-x {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}

ul {
  margin-left: 1rem;
  list-style-type: disc;
  padding-left: 0;
}

.connector-line {
  /* vertical line */
  background: linear-gradient(#bdbdbd, #bdbdbd) no-repeat center/20px 90%;
}
@media (min-width: 768px) {
  .connector-line {
    /* horizontal line */
    background: linear-gradient(#bdbdbd, #bdbdbd) no-repeat center/90% 20px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

/* @font-face {
  font-family: 'Raleway Modified';
  font-weight: 400;
  font-style: normal;
  src: url('/avenir-400.woff2') format('woff2');
  font-display: swap;
} */

/* img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
} */
